
h1 {
    font-size: 40px;
    font-weight: 100;
}

h2 {
    font-family: "Martel", serif;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

p, li {
    font-family: "Martel", serif;
    font-size: 23px;
}

/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
    ul {
        padding-inline-start: 20px;
        font-size: 20px;
    }
}
